@import '@/index';

.popup {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  inset: 0;
  transition:
    visibility 0.5s,
    opacity 0.5s linear;

  &_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
  }
}

.overlay {
  display: flex;
  position: fixed;
  inset: 0;
  background-color: $black;
  opacity: 0.6;
  z-index: 1;
  cursor: pointer;
}

.container {
  margin: 100px auto auto;
  padding: 68px 96px;
  width: 544px;
  background-color: $white;
  border-radius: 32px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}
