@import '@/index';

.top {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h3 {
    @extend %xxxl-txt-medium;

    margin-bottom: 20px;
    color: $black;
  }

  & > p {
    @extend %l-txt-regular;

    color: $gray;
  }
}
