@import '@/index';

.product {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content) 1fr;
  gap: 29px 31px;
  max-width: 1120px;
  margin: 0 auto;

  img {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .heading-container {
    grid-column: 1/3;
    grid-row: 1/2;

    .name,
    .quantity {
      @extend %xl-txt-bold;
    }
  }

  .left-container {
    display: flex;
    flex-direction: column;
    gap: 97px;
    grid-column: 1/2;
    grid-row: 3/4;

    .details-list {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .detail {
        @extend %main-medium;
      }

      .text {
        @extend %main-regular;
      }
    }
  }

  .drop-down-container {
    grid-column: 2/3;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .instruction-title {
      @extend %xl-txt-medium;
    }

    .drop-down-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
