@import '@/index';

.form {
  display: flex;
  margin-top: 24px;
  width: 1120px;
  position: relative;
  background-color: white;
  border-radius: 32px;
  z-index: 2;
}

.form-container {
  height: 48px;
  width: 1120px;
  padding: 12px 0 12px 30px;
  border: 2px solid $blue-standard;
  border-right: none;
  box-sizing: border-box;
  border-radius: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.form_opened {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 1128px;
  border-radius: 28px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  .form-container {
    width: 1120px;
    margin: 4px auto;
  }
}

.form-box {
  display: flex;
  width: 60%;
}

.input {
  @extend %l-txt-regular;

  height: 24px;
  border: none;
  margin-left: 8px;
  width: 100%;
  caret-color: $blue-medium;
  letter-spacing: 0.5px;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba($color: #202020, $alpha: 60%);
  z-index: 0;
  cursor: pointer;
}

.loading-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
